{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head><title>GAMES</title>
        <link href='{% static "css/inicio.css" %}' rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap">
        <link href='{% static "css/games.css" %}' rel="stylesheet" type="text/css">
        <link href='{% static "css/header.css" %}' rel="stylesheet" type="text/css">
    </head>
    <body>

        <header class="gamesHeader header">
            <div class="menu">
                <div class="firstMenuScrolled hidden">
                    <a class="logoImg"></a>
                    <div class="items">
                        <div class="itemNav"><div class="pcIcon"></div><span>PC</span><div class="iconArrow"></div></div>
                        <div class="itemNav"><div class="playIcon"></div><span>Playstation</span><div class="iconArrow"></div></div>
                        <div class="itemNav"><div class="xboxIcon"></div><span>Xbox</span><div class="iconArrow"></div></div>
                        <div class="itemNav"><div class="nintendoIcon"></div><span>Nintendo</span><div class="iconArrow"></div></div>
                        <!-- Incluye jQuery -->
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                        <!-- Incluye Select2 CSS -->
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

                        <!-- Incluye Select2 JS -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
                    </div>  
                </div>
            </div>
        </header>
        <main>
            <div class="mainContent">
                <div class="platformsSelectContainter">
                    <label id="labelPlataformas" for="id_label_multiple">
                        Plataformas
                    </label>  
                    <select class="selectPlataforms" id="id_label_multiple">
                        <option>Xbox</option>
                        <option>Playstation</option>
                        <option>Nintendo</option>
                    </select>
                </div>

                <div class="contentTendencias">
                    <h2>{% trans "Tendencias" %}</h2>
                </div>

                <div class="allGames">
                    {% if games %}
                    {% for game in games %}
                        <div class="gameContainer">
                            <a href="/game/{{ game.name }}">
                                <picture class="gamePicture">
                                    <img alt="{{ game.name }}" src="{{ game.image.url }}" loading="lazy" onload="lazyLoadImage(this)">
                                </picture>
                            </a>
                            <div class="titleGame"><span>{{game.name}}</span><span>{{game.price}}$</span></div>
                        </div>
                    {% endfor %}
            
                    {% else %}
                        <p>No gammes</p>
                    {% endif %}

                    <div class="gameContainer">
                        <picture class="gamePicture">
                            <img data-src="https://gaming-cdn.com/images/products/13288/380x218/remnant-2-pc-juego-steam-cover.jpg?v=1690639200" alt="Remnant 2" src="https://gaming-cdn.com/images/products/13288/380x218/remnant-2-pc-juego-steam-cover.jpg?v=1690639200" loading="lazy" onload="lazyLoadImage(this)">      
                        </picture>
                        <div class="titleGame"><span>Remnant 2</span><span>36.49$</span></div>
                    </div>
                    <div class="gameContainer">
                        <picture class="gamePicture">
                            <img class="picture" data-src="https://gaming-cdn.com/images/products/9665/380x218/ratchet-clank-rift-apart-pc-juego-steam-europe-cover.jpg?v=1690642800" alt="Ratchet &amp; Clank Rift Apart" src="https://gaming-cdn.com/images/products/9665/380x218/ratchet-clank-rift-apart-pc-juego-steam-europe-cover.jpg?v=1690642800" loading="lazy" onload="lazyLoadImage(this)">
                        </picture>
                        <div class="titleGame"><span>Remnant 2</span><span>36.49$</span></div>
                    </div>
                    <div class="gameContainer">
                        <picture class="gamePicture">
                            <img class="picture" data-src="https://gaming-cdn.com/images/products/9665/380x218/ratchet-clank-rift-apart-pc-juego-steam-europe-cover.jpg?v=1690642800" alt="Ratchet &amp; Clank Rift Apart" src="https://gaming-cdn.com/images/products/9665/380x218/ratchet-clank-rift-apart-pc-juego-steam-europe-cover.jpg?v=1690642800" loading="lazy" onload="lazyLoadImage(this)">
                        </picture>
                        <div class="titleGame"><span>Remnant 2</span><span>36.49$</span></div>
                    </div>
                    <div class="gameContainer">
                        <picture class="gamePicture">
                            <img class="picture" data-src="https://gaming-cdn.com/images/products/9665/380x218/ratchet-clank-rift-apart-pc-juego-steam-europe-cover.jpg?v=1690642800" alt="Ratchet &amp; Clank Rift Apart" src="https://gaming-cdn.com/images/products/9665/380x218/ratchet-clank-rift-apart-pc-juego-steam-europe-cover.jpg?v=1690642800" loading="lazy" onload="lazyLoadImage(this)">
                        </picture>
                        <div class="titleGame"><span>Remnant 2</span><span>36.49$</span></div>
                    </div>
                    <div class="gameContainer">
                        <picture class="gamePicture">
                            <img class="picture" data-src="https://gaming-cdn.com/images/products/9665/380x218/ratchet-clank-rift-apart-pc-juego-steam-europe-cover.jpg?v=1690642800" alt="Ratchet &amp; Clank Rift Apart" src="https://gaming-cdn.com/images/products/9665/380x218/ratchet-clank-rift-apart-pc-juego-steam-europe-cover.jpg?v=1690642800" loading="lazy" onload="lazyLoadImage(this)">
                        </picture>
                        <div class="titleGame"><span>Remnant 2</span><span>36.49$</span></div>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <span class="step-links">
                    {% if games.has_previous %}
                        <a href="?page={{ games.previous_page_number }}"><h2>{{ games.previous_page_number }}</h2></a>
                    {% endif %}

                    <h3>{{ games.number }}</h3>

                    <!--
                        <span class="current">
                            Página {{ games.number }} de {{ games.paginator.num_pages }}.
                        </span>
                    -->
                    {% if games.has_next %}
                        <a href="?page={{ games.next_page_number }}"><h1>{{ games.number|add:1 }}</h1></a>
                    {% endif %}
                </span>
            </div>
        </main>
    </body>
    <script>
        $(document).ready(function() {
            $('.selectPlataforms').select2({
                placeholder: "All Platforms",
                allowClear: true
            });        
        });
    </script>
</html>